apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml
- configmap.yaml

images:
- name: ghcr.io/OWNER/devops-portfolio
  newName: ghcr.io/ziyotek-edu/devops-portfolio
  newTag: sha-e485893
